<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="gettingStarted.html" class="btn">Getting started</a>
  <a href="Tutorial.html" class="btn">Tutorial lecture</a>
  <a href="tutorials.html" class="btn">Tutorial walkthrough</a>
  <!-- <a href="exercises.html" class="btn">Exercises</a> -->
  <!-- <a href="biosynthCourseNew.html" class="btn">Lecture</a> -->
  <a href="supplementary.html" class="btn">Supplementary</a>
  <a href="help.html" class="btn">How to get help</a>
</section>
